<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Photo to Text</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.5.1/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/photo.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.5.1/js/fileinput.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.js"></script>
    <script type="text/javascript" src="js/audio.js"></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-dark" style="display: flex;justify-content: center;">
      <a class="navbar-brand" href="#" style="color: white; text-align: center;">
        Nimbus
        <img src="nimbus.png" alt="" style="width: 20%;height: 30%;">
      </a>
    </nav>
    <!-- <h1 style="text-align:center">Photo to Text</h1> -->
    <div class="container mic">
      <form action="/postAudio" id="convertAudio" class="box has-advanced-upload">
        <div class="box-input file-drop-zone-title">
          <!-- <input type="file" id="pictureInput" name="imageInput" accept="image/*"> -->
          <input id="audioInput" name="audioInput" type="file" class="file" data-browse-on-zone-click="true">
          <br>
          <p style="text-align: center;">
            <button class="btn btn-success" id="the_audio" style="width:23%;">Submit</button>
          </p>
        </div>
      </form>
    </div>
    <div class="container text" style="text-align:center">

    </div>
    <br>
    <br>
  </body>
</html>
